@model MyModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Hello World from .NET Core</h1>

    <h3>The current time is @Model.Date.ToString() UTC</h3>

    @if (!string.IsNullOrWhiteSpace(Model.PodName))
    {
        <h3>Pod Name: @Model.PodName</h3>
    }

    @if (!string.IsNullOrWhiteSpace(Model.PodIp))
    {
        <h3>Pod IP Address: @Model.PodIp</h3>
    }
</div>
